<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ahorra"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".enviarPregunta_acercadenosotros"
            android:exported="false" />
        <activity
            android:name=".pantalla2_acercadenosotros"
            android:exported="false" />

        <activity
            android:name=".ContrasenaSeguridadActiviy"
            android:exported="false" />
        <activity
            android:name=".SeguridadActivity"
            android:exported="false"
            android:theme="@style/Theme.Ahorra" />
        <activity
            android:name=".DatosPersonalesActivity"
            android:exported="false" />

        <activity android:name=".contador.ContadorFragment" />
        <activity
            android:name=".MenuHamburguesa"
            android:exported="false"
            android:label="@string/title_activity_menu_hamburguesa"
            android:theme="@style/Theme.Ahorra.NoActionBar" />
        <activity
            android:name=".navHeader"
            android:exported="false" />
        <activity
            android:name=".historial.FragmentoHistorialAnual"
            android:exported="false" />
        <activity
            android:name=".historial.FragmentoHistorialMensual"
            android:exported="false" />
        <activity
            android:name=".historial.FragmentoHistorialSemanal"
            android:exported="false" />
        <activity android:name=".historial.HistorialFragment" />
        <activity
            android:name=".contador.EliminarContador"
            android:exported="false" />

        <!--
<activity
            android:name=".ui.theme.Vizualizar_pricipal"
            android:exported="false" />
        --><activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>